# Data files
*.csv
*.db
*.parquet


# Images / plots
*.png
*.jpg
*.jpeg

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
.env
*others/*
.DS_Store


.aider.chat.history.md
.aider.input.history
.aider*
